<mat-card>
  <div class="fbox">

    <mat-card class="upload-bar">
      <div class="upload-image">
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="onSelectFile($event)" />
        <button class="upload-button" mat-raised-button color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
      </div>
    </mat-card>
    <img src="../../assets/noresult.png" *ngIf="errorImage">
    <mat-card *ngIf="showImage">

      <div class="image-div">
        <img [src]="url" class="uploaded-image" *ngIf="showImage">
        <br/>
            <div class="object-list" *ngFor="let item of array">
              <div class="title-container">
                <div class="description">
                  <a target="_blank" href="#"> {{item.description}}</a>
                </div>
                <div class="score">
                  {{item.score|percent}}
                </div>
              </div>
              <div class="w3-light-grey">
                <div class="w3-blue rate-meter" [style.width]="item.score|percent"></div>
              </div>
            </div>

      </div>
    </mat-card>
  </div>
</mat-card>

<div class="showbox" [ngClass]="{'showbox': showLoader}">
  <div class="loader" *ngIf="showLoader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
